<script type="text/javascript">
	function updateProgress(){
		for( let i=1;i<=15;i++)
		{	
			let data = { id: i };
				let request=$.ajax({
					url:'http://localhost:5000/price',
					method: 'PUT',
					data: JSON.stringify(data),
					contentType: 'application/json'
				});
				request.done(function(data){
					console.log(data['price']);
					console.log("#"+i.toString());

					var bar = document.getElementById("stock"+i.toString())
					
					bar.style.width = "" +(data['price']/2).toString() + "%";
					bar.innerHTML = (data['price']).toString() + "G";
				});
		}
	}
	setInterval(updateProgress,500);

</script>