<script type="text/javascript">
	function updateProgress(){
		for( let i=1;i<=15;i++)
		{	
			let data = { id: i };
				let request=$.ajax({
					url:'{{ url_for('price') }}',
					method: 'PUT',
					data: JSON.stringify(data),
					contentType: 'application/json'
				});
				request.done(function(data){
					
					var price = document.getElementById("stock"+i.toString());
					var image = document.getElementById("image"+i.toString());
					var sl = document.getElementById("shares_left"+i.toString());
					var inprice = price.innerHTML;
					if( data['trend'] == 'up' )
						image.src="{{ url_for('static', filename='up.png') }}";
					else
						image.src="{{ url_for('static', filename='down.png') }}";
					price.innerHTML = (data['price']);
					sl.innerHTML = (data['shares']);
				});
		}
	}
	setInterval(updateProgress,500);

</script>