<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static'), filename='bootstrap.min.css' }}">
	{% block head %}{% endblock %}
</head>
<body class="text-center">
{% block body %}
{% endblock %}
</body>
<script src="{{ url_for('static',filename='popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='jquery-3.2.1.slim.min.js') }}"></script>
<script src="{{ url_for('static',filename='jquery.js') }}"></script>

{% block script %}{% endblock %}
</html>