<footer id="#footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<p>Company</p>
			</div>
			<div class="col-sm-3">
				Current Price
			</div>
			<div class="col-sm-3">
				Inc/Dec
			</div>
		</div>
		{% for stock in stocks %}
		<div class="row">
			<div class="col-sm-3">
				<p>{{ stock.name }}</p>
			</div>
			<div class="col-sm-3" >
				<p id="stock{{ stock.id }}">{{ stock.current_price }}</p>
			</div>
			<div class="col-sm-3" >
				<img src="{{ url_for('static',filename='up.png') }}" width="30px" id="image{{ stock.id }}">
			</div>
		</div>
		{% endfor %}
	</div>
</footer>
